.theme-default .cv-event.mustard-brown {
	background-color: #e68364;
	border-color: #e68364;
}

.theme-default .cv-event.cherry-blossom {
	background-color: #fcc9b9;
	border-color: #fcc9b9;
}

.theme-default .cv-event.bellflower {
	background-color: #a87ca9;
	border-color: #a87ca0;
}

.theme-default .cv-event.skycolor {
	background-color: #4d8fac;
	border-color: #4d8fac;
}

.theme-default .cv-event.lightblue {
	background-color: #48929b;
	border-color: #48929b;
}

.theme-default .cv-event.pictonblue {
	background-color: #59abe3;
	border-color: #59abe3;
}

.theme-default .cv-event.lightwisteria {
	background-color: #be90d4;
	border-color: #be90d4;
}

.theme-default .cv-event.tatarian-aster {
	background-color: #8d608c;
	border-color: #8d608c;
}

.theme-default .cv-event.radical-red {
	background-color: #f62459;
	border-color: #f62459;
}

.theme-default .cv-event.peach-colored {
	background-color: #f47983;
	border-color: #f47983;
}

.theme-default .cv-event.jordy-blue {
	background-color: #89c4f4;
	border-color: #89c4f4;
}

.theme-default .cv-event.ultramarine {
	background-color: #5d8cae;
	border-color: #5d8cae;
}

.theme-default .cv-event.jungle-green {
	background-color: #2abb9b;
	border-color: #2abb9b;
}

.theme-default .cv-event.amur-cork-tree {
	background-color: #f3c13a;
	border-color: #f3c13a;
}

.theme-default .cv-event.silver {
	background-color: #bfbfbf;
	border-color: #bfbfbf;
}

.theme-default .cv-event.pumice {
	background-color: #d2d7d3;
	border-color: #d2d7d3;
}
